{# this is the main config for all IOS devices #}
!
{# hostname using a special variable https://docs.ansible.com/projects/ansible/latest/reference_appendices/special_variables.html #}
hostname {{ inventory_hostname_short }}
!
{% include './ios/banner.j2' %}
!
!
!
!
!
!
end