{# this is the main config for all NXOS devices #}
!
{# hostname using a special variable https://docs.ansible.com/projects/ansible/latest/reference_appendices/special_variables.html #}
hostname {{ inventory_hostname_short }}
!
policy-map type network-qos jumboframes
  class type network-qos class-default
    mtu 9216
!
limit-resource vlan minimum 16 maximum 4094
limit-resource vrf minimum 2 maximum 4096
limit-resource port-channel minimum 0 maximum 511
limit-resource m4route-mem minimum 58 maximum 58
limit-resource m6route-mem minimum 8 maximum 8
{% include './nxos/banner.j2' %}
{% include './nxos/features.j2' %}
no password strength-check
ip domain-lookup
system qos
  service-policy type network-qos jumboframes

!
!
!
!
!
!
end