{# this is the main config for all NXOS devices #}
!
{# hostname using a special variable https://docs.ansible.com/projects/ansible/latest/reference_appendices/special_variables.html #}
hostname {{ inventory_hostname_short }}
!
policy-map type network-qos jumboframes
  class type network-qos class-default
    mtu 9216
!
{% include './nxos/vdc.j2' %}{{ '\n' }}
!
limit-resource vlan minimum 16 maximum 4094
limit-resource vrf minimum 2 maximum 4096
limit-resource port-channel minimum 0 maximum 511
limit-resource m4route-mem minimum 58 maximum 58
limit-resource m6route-mem minimum 8 maximum 8

{% include './nxos/usernames.j2' %}

{% include './nxos/banner.j2' %}

nv overlay evpn

{% include './nxos/features.j2' %}

no password strength-check
ip domain-lookup
system qos
  service-policy type network-qos jumboframes

ip pim rp-address 10.255.0.123 group-list 239.0.0.0/8
ip pim ssm range 232.0.0.0/8
ip pim anycast-rp 10.255.0.123 10.255.0.1
ip pim anycast-rp 10.255.0.123 10.255.0.2

{% include './nxos/interfaces.j2' %}

no password strength-check
ip domain-lookup
system qos
  service-policy type network-qos jumboframes

!
!
!
!

{% include './nxos/ospf.j2' %}

{% include './nxos/bgp.j2' %}

!
!
end